<h3>Edit Property</h3>

<%= bootstrap_form_for @property do |f| %>
  <%= f.text_field :address %>
  <%= f.number_field :parking_quantity %>
  <%= f.number_field :price %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>

  <%= f.primary 'Submit Edit' %>
<% end %>