<div id="proIndex">

	<h1>List of all properties</h1>
	<% @properties.each do |p| %>
		
		<div class="well">
			<p>Address: <%= p.address %></p>
			<p>Parking Availability: <%= p.parking_quantity %></p>
			<p>Price: <%= p.price %></p>
			<p>Title: <%= p.title %></p>
			<p>Description: <%= p.description %></p>
		</div>
	<% end %>

</div>




