<h2 id="propertyNew">Add property</h2>

<div id="proNew">

	<%= bootstrap_form_for @property do |p| %>
		
		<%= p.text_field :address, :hide_label => true, :placeholder => "Address" %>
		<%= p.text_field :parking_quantity, :hide_label => true, :placeholder => "Parking Availability"  %>
		<%= p.text_field :price, :hide_label => true, :placeholder => "Price"  %>
		<%= p.text_field :title, :hide_label => true, :placeholder => "Title"  %>
		<%= p.text_field :description, :hide_label => true, :placeholder => "Description"  %>
		<%= p.hidden_field :user_id, :value => @current_user.id %>

		<%= p.primary %>

	<% end %>

</div>	