<h2>Add another property</h2>
<%= bootstrap_form_for @property do |p| %>
	<%= p.text_field :address %>
	<%= p.text_field :parking_quantity %>
	<%= p.text_field :price %>
	<%= p.text_field :title %>
	<%= p.text_field :description %>
	<%= p.primary %>
<% end %>