<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11"><h1><%= @property.address %></h1></div>
	</div>

	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<div class="well">
			<div><h4><%= @property.title %></h4> <br />
				<%= @property.description %>
				<br />
				<div>
					Price: <%= @property.price %>
				</div>
				<br />
				<div>
					<small>Hosted By: <%= @user.name %></small> 
				</div>
			</div>
			<% if @current_user %>
			<%= link_to 'Reserve Now', new_charge_path(:property_id => @property.id), class: 'btn btn-primary' %>
			<% else %>
			<%= link_to 'Reserve Now', result_path, class: 'btn btn-danger danger' %>
			<% end %>
		</div>
	</div>
			<div class="col-md-4">
			<div>

				<form method="POST" role="form">
				
					<div class="form-group">
<!-- 						<label for="">Origin</label> -->
						<input name="origin" type="text" class="form-control" id="" value="<%= @property.address %>"><br/>
<!-- 						<label for="">Destination</label> -->
						<input name="destination" type="text" class="form-control" id="destination" value="" placeholder="ex: Portland">
					</div>
				
					<input type="submit" value="Search" class="btn btn-primary mapButton" />
				</form>

			</div>
			<br>
			<div style="width: 400px;">
				<div id="directions" style="width: 400px; height: 400px;"></div>
			</div>
		</div>
	<div class="col-md-1"></div>
	</div>
	<br />



</div>

<script type="text/javascript">


var latitude = 45.5200;
var longitude = -122.6819;

$('.mapButton').click(function(e){
	e.preventDefault();
	var address = document.querySelector('#destination').value;



		function codeAddress(address, callback) {
		 var coordinates;
		 geocoder.geocode({'address': address}, function(results, status) {
		 	console.log(results);
		 	var coords_obj = results[0].geometry.location;
		 	coordinates = [coords_obj.G,coords_obj.K];
		 	var latitude = coordinates[0];
		 	var longitude = coordinates[1];
		 	console.log(coords_obj);
			callback(coordinates);
		 });
	}
		 codeAddress(address,function(coordinates){
		 	console.log(coordinates);
		 	calcRoute(coordinates);
		 });
});


var geocoder = new google.maps.Geocoder();
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();


function calcRoute(coord) {
	var origin = new google.maps.LatLng(<%= @property.latitude %>, <%= @property.longitude %>);

	var destination = new google.maps.LatLng(coord[0],coord[1]);
	var request = {
		origin: origin,
		destination: destination,
		travelMode: google.maps.TravelMode.TRANSIT
	};
	directionsService.route(request, function(response, status){
		if (status == google.maps.DirectionsStatus.OK) {
			directionsDisplay.setDirections(response);
		}
	});
}

calcRoute([latitude, longitude]);

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});
    
</script>