<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11 resultsHeader"><h1><%= @property.title %> </h1></div>
	</div>

	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<div class="well" id="content">
			<div><h4><%= @property.address %> </h4> <small><em>Hosted By: <%= @user.name %></em></small> <br /><br />
				<div class="row">
					<div class="col-md-7">
						<div>
							<%= @property.description %>
						</div>	
						<br />
					</div>
					<div class="col-md-5">
						<div><strong>Trip details:</strong><br />
						Checkin: <small><em><%= params[:checkin] %></em></small><br />
						Checkout: <small><em><%= params[:checkout] %></em></small><br />
						Parking: <small><em><%= params[:parking_quantity] %></em></small><br />
						Rate: <small><em>$<%= @property.price %></em></small>
						</div>
					</div>
				</div>
				<br />
			</div>
			<% if @current_user %>
				<%= link_to 'Reserve Now', new_result_charge_path(@property,
				checkin: params[:checkin], 
				checkout: params[:checkout], 
				parking_quantity: params[:parking_quantity]
				), 
				class: 'btn btn-primary' %>
			<% else %>
				<%= link_to 'Reserve Now', result_path, class: 'btn btn-danger danger' %>
			<% end %>
					<!-- press button for route -->
		</div>
	</div>
			<div class="col-md-4">
				<div class="well text-center" id="bus">Find a bus route to your destination</div>
				
				<form method="POST" role="form" id="route">
				
					<div class="form-group">
<!-- 						<label for="">Origin</label> -->
						<input name="origin" type="text" class="form-control" id="" value="<%= @property.address %>">
						<div class="input-group">
	<!-- 						<label for="">Destination</label> -->
							<input name="destination" type="text" class="form-control" autofocus="autofocus" id="destination" value="" placeholder="ex: Space Needle">
							<span class="input-group-btn">
								<i class="fa fa-bus mapButton btn btn-primary pull-right"></i>			
							</span>
						</div>
					</div>
				</form>
				<!-- renders map -->
				<div id="directions" style="height: 400px;"></div>
			</div>
	<div class="col-md-1"></div>
	</div>
	<br />



</div>
<script type="text/javascript">

var latitude = 47.6204;
var longitude = -122.3491;

$('.mapButton').click(function(e){
	e.preventDefault();
	var address = document.querySelector('#destination').value;



		function codeAddress(address, callback) {
		 var coordinates;
		 geocoder.geocode({'address': address}, function(results, status) {
		 	console.log(results);
		 	var coords_obj = results[0].geometry.location;
		 	coordinates = [coords_obj.G,coords_obj.K];
		 	var latitude = coordinates[0];
		 	var longitude = coordinates[1];
		 	console.log(coords_obj);
			callback(coordinates);
		 });
	}
		 codeAddress(address,function(coordinates){
		 	console.log(coordinates);
		 	calcRoute(coordinates);
		 });
});


var geocoder = new google.maps.Geocoder();
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();


function calcRoute(coord) {
	var origin = new google.maps.LatLng(<%= @property.latitude %>, <%= @property.longitude %>);

	var destination = new google.maps.LatLng(coord[0],coord[1]);
	var request = {
		origin: origin,
		destination: destination,
		travelMode: google.maps.TravelMode.TRANSIT
	};
	directionsService.route(request, function(response, status){
		if (status == google.maps.DirectionsStatus.OK) {
			directionsDisplay.setDirections(response);
		}
	});
}

calcRoute([latitude, longitude]);

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});
    
</script>