<% bootstrap_form_for @reservation do |p| %>
 <%= p.hidden_field :id, :value => @user_id, class: "id" %>
 <%= p.hidden_field :checkin, :value => @custCheckin, class: "checkin" %>
 <%= p.hidden_field :checkout, :value => @custCheckout, class: "checkout" %>
 <%= p.hidden_field :property_id, :value => @property_id, class: "property_id" %>
 <%= p.hidden_field :user_id, :value => @current_user.id, class: "user_id" %>
<% end %>


<div class="color3">
  <div class="row-fluid">
      <div class="span12 well text-center" id="content">
          <h1 class="confirm">Payment Confirmation</h1>
          <p>You are booking for <b><%= @address %></b> for <b><%= @custPkgQty %></b> parking spots from <b><%= @custCheckin%></b> to <b><%= @custCheckout%></b>.</p>

      <%= form_tag result_charges_path do %>
        <p class="text-center">
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span class="center chargeNew">Amount: $10.00</span>
          </label>
        </p>

        <script>
          $(document).ready(function() {
             $(".stripe-button-el").on('click', function(e) {
                e.preventDefault();
                $.ajax({
                  type: "POST",
                  url: '/results/'+ <%= @cust %> +'/charges',
                  data: {
                    'checkin': $('.checkin').val(), 
                    'checkout': $('.checkout').val(), 
                    'user_id': $('.user_id').val(), 
                    'property_id': $('.property_id').val()}
                }).done(function() {
                  console.log('posted');
              });
            });
          });
        </script>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Parking fee"
                data-amount="1000"
                data-locale="auto"></script>


      <% end %>
      </div>
  </div>
</div>



